@import 'mobile.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  font-size: 1.1rem;
  width: 49%;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 108, 108);
  .container {
    height: 90vh;
    width: 50vw;
    background-color: rgb(83, 83, 83);
    // border: 1px solid red;
    box-shadow: 0 0 1rem;
    border-radius: 2vh;
    .container2 {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
    }
    .hero-intro {
      border-radius: 2vh 2vh 0 0;
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: rgb(62, 62, 62);
      color: aliceblue;
      margin-bottom: 2vh;
    }
    .box {
      padding: 0.6vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 2px dotted rgb(185, 185, 185);
      width: 50%;
      // height: 15vh;
      .slider-slot {
        border: 0.1vh dotted grey;
        margin: 0.4vh;
        margin-top: 0.8vh;
        margin-bottom: 0.8vh;
        p {
          color: rgb(230, 227, 227);
          margin: 0.4vh;
          font-size: 1.1rem;
        }
        & input {
          width: 100%;
          height: 1.5rem;
        }
      }
      .hide-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          color: rgb(215, 214, 214);
        }
      }
      .info button {
        background-color: rgb(206, 206, 206);
        width: 100%;
        height: 1.4rem;

        text-align: center;
        font-size: 1.05rem;
      }
      #estado-led div {
        padding-top: 0.6vh;
        padding-bottom: 0.6vh;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        & :first-child {
          color: rgb(207, 207, 207);
          width: 49%;
        }
        & h2:nth-child(2) {
          background-color: rgb(152, 234, 152);
          width: 49%;
          text-align: center;
        }
      }
      #Nestado-led div {
        padding-top: 0.6vh;
        padding-bottom: 0.6vh;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        & :first-child {
          color: rgb(207, 207, 207);
          width: 49%;
        }
        & h2:nth-child(2) {
          background-color: rgb(224, 86, 86);
          width: 49%;
          text-align: center;
        }
      }
      .btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.3rem;
      }
      .info-n-pin {
        background-color: rgba(0, 0, 0, 0.678);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .info-container {
          overflow-y: scroll;
          // position: relative;
          width: 20vw;
          padding: 1.2vh;
          height: 60vh;
          background-color: rgb(55, 55, 55);
          z-index: 2;
          .close-button {
            position: absolute;
            right: 49.3%;
            top: 14%;
            z-index: 3;
            button {
              width: 5vh;
              height: 5vh;
              border-radius: 50%;
            }
          }
          .descricao {
            background-color: rgb(156, 156, 156);
            margin-bottom: 2vh;
            // rgb(93, 93, 93);
            & > :first-child {
              background-color: rgb(93, 93, 93);
            }
          }
          .pinagem {
            background-color: rgb(156, 156, 156);
            margin-bottom: 2vh;
            & > :first-child {
              background-color: rgb(93, 93, 93);
            }
          }
          .procedimento-montagem {
            background-color: rgb(156, 156, 156);
            & > :first-child {
              padding-bottom: 0 !important;
            }
            p {
              padding-bottom: 1rem;
            }
            & > :first-child {
              background-color: rgb(93, 93, 93);
            }
          }
        }
      }
      .btn-show {
        padding: 0.5rem;
        width: 49%;
        background-color: rgb(230, 92, 42);
        border: 1px solid gray;
        font-size: 1rem;
        color: rgb(21, 21, 21);
      }
    }
  }
}
